[submodule "first-learn-web"]
	path = first-learn-web
	url = git@github.com:fenghuijiuzhuan/first-learn-web.git
[submodule "first-learn-backend"]
	path = first-learn-backend
	url = git@github.com:fenghuijiuzhuan/first-learn-backend.git
