[submodule "master"]
	path = master
	url = git@github.com:fenghuijiuzhuan/first-learn-backend.git
[submodule "first-learn-web"]
	path = first-learn-web
	url = git@github.com:fenghuijiuzhuan/first-learn-web.git
